<div class="container-wrapper">
    <div class="back-to-dashboard" routerLink="">
        <span>
            <i class="bi bi-chevron-left"></i>
            Back to Dashboard
        </span>
    </div>
    <div class="product-detail-container" *ngIf="product && product.id">
        <div class="product-highlights-section">
            <div class="carousel-container">
                <app-products-carousel [product]="product"></app-products-carousel>
            </div>
            <div class="heading">{{ product.name }}</div>
            <div class="stock" [ngClass]="product.stock ? 'text-success' : 'text-danger'">
                {{ product.stock ? 'In' : 'Out of' }} Stock: {{ product.stock }}
            </div>
            <div class="purchase-buttons" *ngIf="product.stock">
                <button type="button" class="btn btn-success cart" (click)="addToCart(product)">
                    Add to Cart <i class="bi bi-cart4"></i>
                </button>
                <button type="button" class="btn btn-success buy" routerLink="/checkout/{{product.id}}">
                    Buy Now
                </button>
            </div>
        </div>
        <div class="details-section">
            <div class="heading">Product Description:</div>
            <div class="product-points">
                <ul>
                    <li *ngFor="let point of product.description">{{ point }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>