<div class="header-section">
    <div class="logo">
        <span #toggleButton (click)="openSidebar()"><i class="bi bi-list"></i></span>
        <img src="/assets/logo/main-logo.png" alt="Logo" (click)="navigateTo('HOME')">
    </div>

    <div class="search-bar-container">
        <input type="text" class="form-control" placeholder="Search.." (input)="onTyping($event)">
        <i class="bi bi-search"></i>
        <div class="search-results-container" *ngIf="filteredProducts && filteredProducts.length">
            <div class="product" *ngFor="let product of filteredProducts" (click)="onSelectProduct(product)">
                <i class="bi bi-search"></i> <span>{{ product.name }}</span>
            </div>
        </div>
    </div>

    <div class="links-container">
        <ng-container *ngIf="showOptions">
            <span>Orders</span>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" (click)="navigateTo('SETTINGS')">Settings</a></li>
                    <li><a class="dropdown-item">Support</a></li>
                    <li (click)="logout()"><a class="dropdown-item">Logout</a></li>
                </ul>
            </div>
        </ng-container>
        <ng-container *ngIf="showLoginButton">
            <button class="btn btn-warning login" type="button" (click)="navigateTo('LOGIN')">Login</button>
        </ng-container>
        <ng-container *ngIf="showRegisterButton">
            <button class="btn btn-secondary register" type="button" (click)="navigateTo('REGISTER')">Register</button>
        </ng-container>
    </div>
</div>

<div id="sidebar" #sidebar>
    <div class="greeting">
        <span>Hello, {{ user.name ? user.name : 'User'}}</span>
    </div>
    <div class="menu-container">
        <div class="divider"></div>
        <ng-container *ngIf="showOptions">
            <div class="menu-item">Orders</div>
            <div class="menu-item" (click)="navigateTo('SETTINGS')">Settings</div>
            <div class="menu-item">Support</div>
            <div class="divider"></div>
            <div class="menu-item" (click)="logout()">
                Logout <i class="bi bi-box-arrow-right"></i>
            </div>
        </ng-container>
        <ng-container *ngIf="showLoginButton">
            <div class="menu-item" (click)="navigateTo('LOGIN')">Login</div>
        </ng-container>
        <ng-container *ngIf="showRegisterButton">
            <div class="menu-item" (click)="navigateTo('REGISTER')">Register</div>
        </ng-container>
        <ng-container *ngIf="!showOptions">
            <div class="divider"></div>
            <div class="menu-item">Support</div>
        </ng-container>
    </div>
</div>