.header-section {
    position: fixed;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(2, 0, 36, 1) 0%, rgba(9, 44, 121, 1) 100%);
    z-index: 1;

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
            display: none;
            font-size: 1.7rem;
        }

        img {
            width: 15vw;
            height: 100%;
            cursor: pointer;
        }
    }

    .search-bar-container {
        position: relative;
        width: 40%;

        input {
            width: 100%;
            height: 100%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        i {
            position: absolute;
            top: 18%;
            right: 3%;
        }

        .search-results-container {
            position: absolute;
            width: 100%;
            max-height: 12vh;
            overflow-y: auto;
            background-color: white;
            box-shadow: 0 8px 16px 1px rgba(0, 0, 0, .7);
            padding-top: 2%;
            z-index: 999;

            i {
                position: relative;
            }

            .product {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 1% 0% 1% 5%;
                cursor: pointer;

                span {
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 0.9rem;
                    font-weight: 500;
                    line-height: normal;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &:hover {
                    background-color: rgb(226, 225, 225);
                }
            }
        }
    }

    .links-container {
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 2%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        span {
            margin-right: 10%;
            cursor: pointer;
        }

        .dropdown-button {
            background-color: transparent;
            border: none;
            text-transform: capitalize;

            &::after {
                vertical-align: 0.1rem;
            }
        }
        
        ::ng-deep .dropdown-item {
            cursor: pointer;
        }

        .login {
            background-color: rgb(255, 230, 0);
            border: none;

            &:hover {
                background-color: rgb(207, 207, 0);
            }
        }

        .register {
            background-color: gray;
            border: none;
            margin-left: 10%;

            &:hover {
                background-color: rgb(90, 89, 89);
            }
        }

    }
}

#sidebar {
    display: none;
}

@media only screen and (max-width: 576px) {

    .header-section {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2% 0% 2% 1%;

        .logo {

            i {
                display: inline;
                color: white;
                cursor: pointer;
            }

            img {
                width: 25vw;
                height: 100%;
            }
        }

        .search-bar-container {
            width: 70%;
            margin-left: 20%;

            .search-results-container .product {
                font-size: 0.8rem;
            }
        }

        .links-container {
            display: none;
        }
    }

    #sidebar {
        display: none;
        background-color: white;
        position: fixed;
        width: 40%;
        height: 100%;
        border-right: 2px inset rgb(199, 199, 199);
        z-index: 1;

        .greeting {
            font-size: large;
            font-weight: bold;
            font-family: comic Sans MS;
            color: rgb(86, 86, 226);
            text-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
            padding: 5%;
        }

        .menu-container {
            display: flex;
            flex-direction: column;

            .divider {
                border-bottom: 5px solid #d5dbdb;
                padding: 0;
                margin-bottom: 10%;
            }

            .menu-item {
                color: #111;
                font-family: Arial, sans-serif;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 10%;
                font-weight: 400;
                margin-left: 10%;
            }
        }
    }

}