.auth-section {
    flex-direction: column;

    .heading {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: xx-large;
        color: rgb(32, 121, 133);
        margin-top: -7%;
        margin-bottom: 3%;
    }
}