.support-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-group {
        margin-top: 4%;
    }

    form {
        width: 70%;
    }
}