/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
}

.container-wrapper {
    width: 100%;
    padding-top: 11vh;

    .back-to-dashboard {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: large;
        font-weight: bold;
        margin-bottom: 1rem;
        cursor: pointer;
    }

    .form-group {
        margin-top: 4%;
    }

    &.auth-section {
        width: 100vw;
        height: 100vh;
        background: #ecf0f3;
        display: flex;
        justify-content: center;
        align-items: center;

        .auth-form-container {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width: 45%;
            height: auto;
            background: #ecf0f3;
            box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
            border-radius: 3%;
            padding: 5%;

            .brand-logo {
                height: 10vh;
                width: 80%;
                margin: auto;
                border-radius: 10px;
                box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;

                img {
                    width: 80%;
                    height: inherit;
                }
            }

            input {
                background: #ecf0f3;
                padding: 10px;
                padding-left: 20px;
                height: 50px;
                font-size: 14px;
                border-radius: 50px;
                box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
            }

            .confirm-password {
                position: relative;
            
                span {
                    position: absolute;
                    top: 20%;
                    right: -5%;
                }
            
                #match {
                    color: green;
                }
            
                #dismatch {
                    color: red;
                }
            }

            .link {
                text-decoration: underline;
                text-align: right;
                color: rgb(83, 128, 0);
                cursor: pointer;
            }

            button {
                width: 100%;
                color: white;
                margin-top: 20px;
                background: #1DA1F2;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                font-weight: 900;
                box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
                transition: 0.5s;

                &:hover {
                    background: #4fbafc;
                }
            }
        }
    }

    @media screen and (max-width: 576px) {
        &.auth-section .auth-form-container {
            width: 80%;
        }
    }
}

.error-messages {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}