<div class="dashboard-section container-wrapper">
    <div class="header-section">
        <div class="heading">Dashboard</div>
        <div class="cart-value" *ngIf="isLoggedIn" routerLink="/cart">
            <i class="bi bi-cart4"></i>
            {{ cart && cart[0] && cart[0].cartItems ? cart[0].cartItems.length : 0 }}
        </div>
    </div>
    <div class="product-grid">
        <div class="product" routerLink="/detail/{{item.id}}" *ngFor="let item of productsList">
            <img [src]="item.images[0].image" alt="">
            <div class="name">{{ item.name }}</div>
            <div class="ratings">
                <app-rating [rating]="item.ratings"></app-rating>
            </div>
            <div class="price">₹ {{ item.price | number:'1.0-0' }}</div>
            <div class="cart-button" *ngIf="isLoggedIn" (click)="addToCart(item, $event)">
                <i class="bi bi-cart-plus"></i>
            </div>
        </div>
    </div>
</div>